* {
    box-sizing: border-box;
  }

  body{
      
      padding-left: 300px;
      padding-top: 200px;
        background-image: url('Images/cardbg.jpg');
        background-repeat: no-repeat;
        background-size: cover;
}

.column {
    float: left;
    /* width: 25%; */
    /* padding: 500 1000px; */
}

/* .row {margin: 0 -5px;} */

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
    height: 300px;
  }
}


.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-color:cornsilk;

    height: 350px;
    width: 300px;
    border-radius: 5px; /* 5px rounded corners */
    /* padding: 0 10px; */
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
  }


/* On mouse-over, add a deeper shadow */
.card:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
 .container {
  padding: 200px 16px;
}

img {
    border-radius: 5px 5px 0 0;
    width: 100px;
    height: 250px;
    object-fit: cover;
}